:root{
    --dark-mode-color : rgb(37, 37, 37);
    --light-mode-color : rgb(226, 226, 226);
    --dark-secondary-color : rgb(40, 40, 40);


}

.nav{
    position: relative;
  }
  .toggle-btn {
    background-color: white;
    width: 5.2rem;
    height: 2.5rem;
    border-radius: 1.5rem;
    box-shadow: 
    inset 0 8px 60px rgba(0, 0, 0, .1),
    inset 0 0px 8px rgba(0, 0, 0, .1),
    inset 0 -4px 4px rgba(0, 0, 0, .1);
    position: absolute;
    left: 85%;
    top: 10%;
    transform: scale(0.7);
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    
  }
  .btn-indicator{
    background-color: #f6f6f6;
    width:2.5rem;
    height: 2.5rem;
    border-radius: 2rem;
    position: absolute;
    /* top: 10%; */
    box-shadow: 0 8px 60px rgba(0, 0, 0, .2);
    transition: transform .3s ease;
  }
  .btn-icon-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-icon{
    color: var(--dark-mode-color);
    font-size: 1.4rem;
  }



  /* darkmode */
  .darkmode .toggle-btn{
    box-shadow: 
    inset 0 8px 60px rgba(0, 0, 0, .3),
    inset 8px 0 8px rgba(0, 0, 0, .3),
    inset 0 -4px 4px rgba(0, 0, 0, .3);
    background-color: #929292;
  }
  .darkmode .btn-indicator{
    transform: translateX(2.7em);
    background-color: var(--dark-mode-color)
  }
  .darkmode .btn-icon{
    color: rgb(230, 230, 230) ;
  }

 


  /* Animation */
  .btn-icon.animated{
    animation: spin 0.4s ease;
  }
  @keyframes spin{
    to{
        transform: rotate(360deg);
    }
  }

  /* body darkmode */
  body.darkmode{
    background-color: var(--dark-mode-color);
    color: var(--light-mode-color)
  }
  .darkmode .head{
    color: var(--light-mode-color);
  border-bottom: 1px solid var(--light-mode-color);

  }

  .darkmode .task-container-one {
    border: 0px solid var(--light-mode-color);
    background-color: var(--dark-secondary-color);
    box-shadow: 0px 0px 10px rgb(22, 22, 22);
  }
  .darkmode .task-container-two {
    border: 0px solid var(--light-mode-color);
    background-color: var(--dark-secondary-color);
    box-shadow: 0px 0px 10px rgb(22, 22, 22);
  }
  .darkmode .list-name {
    color: var(--light-mode-color);
  }
  .darkmode .active-list {
    font-size: 1.2rem;
    color: var(--light-mode-color);
  }
  .darkmode #btn {
    color: var(--light-mode-color);
   
  }
  .darkmode .list-icon{
    filter: invert(100%);
  }
  .darkmode .task-list-head{
    border-bottom: 1px solid var(--light-mode-color);
  }
  .darkmode .list-name-title{
    color: var(--light-mode-color);
  }
  .darkmode [type="checkbox"] {
    border: 2px solid #e1e1e1; 
  }
  .darkmode [type="checkbox"]:checked {
    opacity: 0.2;
  }
.darkmode span{
    filter: grayscale(100%) brightness(90%);
}

.darkmode .btn{
    color: var(--light-mode-color);
    box-shadow: 0px 0px 10px rgb(22, 22, 22);
    padding: 8px;
}

.darkmode .delete-stuff{
    bottom: -50px;
}
